footer{
    iframe{
        width: 100%;
        height: 400px;
        border: none;
        background-repeat: no-repeat;
    }

    ul{
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
}

.container_footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    padding: 4rem 0;
}


@media (max-width:350px) {
    .container_footer{
        padding: 4rem !important;
    }
}