@use '_mixins.scss';

.section_contacto{
    width: 100%;
    @include mixins.container_flex(row, center);
}

.container_flex-contacto{
      @include mixins.container_flex(row, center);
      gap: 10rem;
      width:85% ;
      position: relative;
      top: 60px;
      z-index: 5;


      span{
        width: 100%;
        @include mixins.container_flex(row, center); 
        padding: 1rem 0;
      }

      p{
        text-align: center;

      }

      div{
        flex-basis: 40%;
        height: 100px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        background-color: white;
        padding: 1rem;
      }
}

.container_form{
    width: 100%;
    color: white;
}

.container_grid_contacto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #366845;
  padding-top: 5%;
  max-height: 600px;
  min-height: 640px;
}

.container_info_contacto{
    width: 85%;
    padding-left: 7%;
    padding-top: 5%;
    margin: 10% 0;
}

.container_form_contacto{
    width: 100%;

    form{
        @include mixins.container_flex(column, center); 
        flex-wrap: nowrap;
        width: 85%;
        min-width: 85%;
        height: 100%;
        gap: 5%;

        .container_nombre-telefono{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        input{
          background-color: #366845;
          border: none;
          border-bottom: 1px solid white;
          width: auto;
        }

        textarea{
          background-color: #366845;
          border: none;
          min-height: 30%;
          border: 1px solid white;
        }

        button{
          width: 20%;
          padding: 0.5rem 0;
        }
    }
}

@media (max-width:350px) {
  .container_form_contacto > form {
    margin: 0 auto !important;
  }

  .container_flex-contacto > div{
    height: auto !important;
  }

  .container_flex-contacto {
    gap: 2rem !important;
  }
}