@use '_mixins';

@media (max-width:1000px){
    .container_section_bannerPublicidad{
        background-size: none !important;
    }

    .info_bannerPublicidad{
        width: auto !important;
    }

    .info_bannerPublicidad > span{
        font-size: 0.5rem !important;
    }

    .info_bannerPublicidad > h1{
        font-size: 0.5rem !important;
    }

    .info_bannerPublicidad > p{
        font-size: 0.5rem !important;
    }

    .info_bannerPublicidad > .button{
        padding: 4px 3px !important;
        margin: 5% !important;
        font-size: 0.6rem !important;
        width: 19% !important;
    }

    .container_info_bannerPublicidad{
        height: auto !important;
    }


}


.section_bannerPublicidad{
    margin-top: 5%;
    @include mixins.container_flex(row, center);

    .container_section_bannerPublicidad{
        @include mixins.container_flex(column, start);
        background-image: url('../img/img5.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 85%;
    }

    .container_info_bannerPublicidad{
        height: 700px;
        position: relative;
        color: white;
        @include mixins.container_flex(column, center);
        
        div{
            width: 45%;
            margin: 2% 6%;

            span{
                font-size: 1rem;
                font-weight: 100;
            }

            h1{
                font-size: 2.6rem;
                font-weight: 100;
                margin: 10px 10px;
            }

            p{
                font-size: 1.2rem;
                margin:0;
                letter-spacing: 1px;
                font-weight: 100;
            }

            .button{
                @include mixins.container_flex(row, center);     
                border: none;
                padding: 3% 0;
                margin-top: 5%;
                margin-left: 0;
                border :1px solid white;
                font-size: 1.2rem;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    img{
        width: 85%;
        height: 80%;
        object-fit: cover;
        position: absolute;
    }
}


