@use '_mixins';

.section_tratamiento{

    .container_tratamiento{
        span{
            @include mixins.container_flex(row, center);
            font-size: 1.2rem;
            margin-top: 40px;
        }
        h1{
            text-align: center;
            font-size: 2.5rem;
            margin-top: 10px;
            font-weight:100;
        }
        p{
            text-align: center;
            color: rgb(87, 87, 87);
            letter-spacing: 1px;
            font-size: large;
        }
    }
    
    .container_cortes{
        width: 100%;
        @include mixins.container_flex(row, center);
        margin-top: 40px;

    }
    
    .container_grid_cortes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 350px));
        max-width: 85%;
        gap: 20px;

        .container_content-img{
            width: 100%;

            img{
                width: 100%;
                max-height: 400px;
                height: 100%;
                object-fit: cover;
            }

            h1{
                text-align: center;
            }

            p{
                text-align: center;
            }
        }
    }
    
}