@use '_mixins';

.sectionBanner {
  height: 60%;
  @include mixins.container_flex(row, center);
  padding: 2rem;
}

.container-img {
  @include mixins.container_flex(row, none);
  background-image: url('../img/img1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 90%;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 2rem;
}

.container_info_container-img {
  z-index: 2;
  margin-left: 10%;
  max-width: 600px;

  span {
    color: #69997d;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: bold;
    color: #69997d;
  }

  p {
    color: #584d45;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  button {
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid #4d967c;
    color: #69997d;
    background-color: #dacabd;
    font-size: 1rem;
    cursor: pointer;
  }
}

/* 💻 Tablet */
@media (max-width: 1000px) {
  .container-img {
    flex-direction: column;
    background-size: cover;
    background-position: 100%;
    padding: 1.5rem;
  }

  .container_info_container-img {
    margin-left: 0;
    text-align: center;
    align-items: center;
  }

  .container_info_container-img button {
    margin: 0 auto;
  }
}

/* 📱 Mobile */
@media (max-width: 600px) {
  .sectionBanner {
    height: auto;
  }

  .container-img {
    width: 100%;
    padding: 1rem;
    // background-position: 100%;
  }

  .container_info_container-img {
    max-width: 100%;
  }

  .container_info_container-img h1 {
    font-size: clamp(1.5rem, 6vw, 2rem);
  }

  .container_info_container-img button {
    width: 100%;
  }
}
