//modulo
@use '_nav.scss';
@use '_section_tratamiento.scss';
@use '_sectionBanner.scss';
@use '_section_bannerPublicidad.scss';
@use '_section_resultadosPeluqueria.scss';
@use '_section_container_opiniones.scss';
@use '_section_contacto.scss';
@use '_footer.scss';



$colorLetras : #366845;

body{
    padding: 0;
    margin: 0;
    color : $colorLetras;   
    font-family: raleway, sans-serif;
}
